/* App.css */
body {
  background-color: #ffffff; /* Set the background color for the whole page */
}

/* Spinner styles */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-left: 4px solid #000; /* Dark border for animation */
  border-radius: 50%; /* Circular shape */
  width: 40px; /* Width of the spinner */
  height: 40px; /* Height of the spinner */
  animation: spin 1s linear infinite; /* Spin animation */
  margin: auto; /* Center the spinner */
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* Start state */
  100% {
    transform: rotate(360deg);
  } /* End state */
}

/* Styling for the search box */
.search-box {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  color: rgb(112, 112, 112);
  border-radius: 12px; /* Rounded corners */
  width: 250px; /* Width of the text box */
  text-align: center; /* Center text inside the box */
  margin: 10px 0; /* Margin above and below the box */
}

/* Additional styling for the app (optional) */
.App {
  font-family: Arial, sans-serif; /* Font style for the app */
  text-align: center; /* Center text */
}
